/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Roboto", sans-serif;
}

.main-layout {
  /* background: rgb(101, 101, 116);
  background: radial-gradient(
    circle,
    rgb(67, 71, 126) 12%,
    rgb(84, 42, 94) 79%
  ); */
  background: #200122;
  background: -webkit-linear-gradient(to right, #6f0000, #200122);
  background: linear-gradient(to right, #6f0000, #200122);
}

.main-body::-webkit-scrollbar {
  display: none;
}

.main-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.react-tabs__tab-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.react-tabs__tab--selected {
  @apply btn btn-warning btn-sm;
}

.project-card :hover .project-card-overlay {
  height: 100%;
  transition: all 0.5s;
}
